* {
    scroll-behavior: smooth;
}

/*html {
    height: 100%;
}*/

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

header {
    padding: 0 0.5em;
    height: 130px;
    background-color: #E0E0E0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 grey;
    overflow: hidden;
    margin-bottom: 1em;
}

#links {
    width: 286px;
    height: 120px;
    margin: 5px 0.5em;
}

#logo_div {
    margin: 5px 0.5em;
}

#logo_anchor {
    display:flex;
}

footer  {
    height: 80px;
    background-color: #E0E0E0;
    text-align: center;
    line-height: 80px;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

button {
    width: 90px;
    height: 30px;
    margin: 1em;
}

textarea {
    resize: none;
    margin: 1em;
    margin-bottom: 0;
    min-width: 20em;
    min-height: 10em;
    padding: 1em;
    font-size: 16px;
    flex: 0 5 100%;
    align-self: stretch;
    /*background-color:rgb(0,0,0);
    background-image: url(http://www.zingerbugimages.com/backgrounds/parchment_paper_wallpaper_texture_seamless.jpg);
    background-position: top left;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 25%;*/
}

.box {
    display:flex;
    align-items: center;
}

#outerbox {
    flex-flow: column nowrap;
    height: auto;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 80px;
    top: 130px;
}

#innerbox {
    flex-flow: row nowrap;
    padding: 0 3em;
    flex: 0 1 100%;
    align-self: stretch
}

#button_box {
    flex-flow: row wrap;
    flex: 0 0 auto;
    align-self: stretch;
    justify-content: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader {
    display:none;
    opacity: 0;
    animation: spin 2s cubic-bezier(.17,.67,.83,.67) infinite;
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



.panel {
    overflow-y: auto;
    height: 47em;
    width: 42.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    font-size: 16px;
    background-color: #222222;
    color: white;
}

#left_panel {
    direction: rtl;
}

.text_part {
    direction: ltr;
    display: inline-block;
    width: 100%;
    margin: 0.3em auto;
}

.text_part:hover {
    text-decoration: underline white 2px;
}

.removed {
    color: rgb(255, 84, 84);
}

.removed:hover {
    text-decoration: underline rgb(255, 84, 84) 2px;
}

.added {

}

.changed {

}